<style>
    .t20Content{
        width:100%;
    }
    .seriesNameContainer{
        margin-left: 20px;  
        width: 20%;
        float: left;
    }
    .seriesName{
        width:100%;
        border: 1px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .seriesName:hover{
        cursor: pointer;
        background-color: #FFEFD5;
    }

    .filter{
        /* background-color: black; */
        box-sizing: border-box;
        float:left;
        /* width: 40%; */
        /* height: 10px; */
        margin-top: 5px;
        margin-left: 20px;
        padding: 10px;
        /* margin-right: 10px; */
        border: 1px solid black;
        border-radius: 4px; 
    }
    select{
        padding: 4px;
        margin: 2px;
    }
</style>
<script>
    $(document).ready(() =>{
        $('.seriesNameContainer .seriesName').click((elem)=>{
            console.log(elem)
            console.log($("#"+elem.currentTarget.id).index('.seriesNameContainer a'))
            
            const seriesId = parseInt(elem.target.id)
            console.log("Series Id : "+seriesId)
            const url = "user/t20/series/"+seriesId;
            console.log(url)
            $.post(url, (data, status)=>{
                console.log("T20 Series data Fetched")
                console.log(data)
            })
        })
    })
</script>
<div class = "t20Content">
    <div class = "filter">
        <div>
            Starting Year: 
            <select name="StartingYear" id="startingYear">
                <option value="2018">2018</option>
                <option value="2017">2017</option>
            </select>
            Ending Year: 
            <select name="EndingYear" id="endingYear">
                <option value="2018">2018</option>
                <option value="2017">2017</option>
            </select>
        </div>

        <div>
            Host Country: 
            <select name="HostCountry" id="hostCountry">
                <option value="all">
                    All
                </option>
                <% countries.forEach(elem => { %>
                    <option value= <%= elem.country_name %>>
                        <%= elem.country_name %>
                    </option>
                <% }) %>
            </select>
        </div>
        <div>
            Teams: 
            <select name="Team1" id="team1">
                <option value="all">
                    All
                </option>
                <% teams.forEach(elem => { %>
                    <option value= <%= elem.team_name %>>
                        <%= elem.team_name %>
                    </option>
                <% }) %>
            </select>
            vs
            <select name="Team2" id="team2">
                <option value="all">
                    All
                </option>
                <% teams.forEach(elem => { %>
                    <option value= <%= elem.team_name %>>
                        <%= elem.team_name %>
                    </option>
                <% }) %>
            </select>
        </div>
    </div>
    <div class="seriesNameContainer">
        <% series.forEach(elem =>{ %>
            <a class="seriesName" id = <%= elem.series_id+"series"%>>
                <%= elem.series_name%>
            </a>
        <% }) %>
        
    </div>
</div>
